<div class="container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>View Details</th>
        </tr>
      </thead>
      <tbody *ngFor="let items of fruits">
        <tr *ngIf="items.price<100">
          <td>{{ items.name }}</td>
          <td>{{ items.price }}</td>
          <td ><button class="btn btn-success">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-success" (click)="goback()">Go Back</button>
  