<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="mb-4">About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed nisi non dui blandit efficitur ut at nisi. Phasellus at risus auctor, volutpat libero eu, feugiat nisl. Suspendisse potenti. Donec non lacus sit amet arcu laoreet tristique eget non orci. Nam nec velit a orci bibendum condimentum. Nulla vehicula magna nec risus rhoncus, at malesuada odio tempor.</p>
        <p>Nullam et magna in velit porttitor elementum. Phasellus nec libero sed quam mattis faucibus nec a velit. Sed sit amet mi varius, aliquam risus eget, commodo sem. Sed auctor risus eget semper dapibus. Suspendisse potenti. Vivamus pretium dolor id libero malesuada, ac fringilla mi lobortis. In tincidunt eros at est pharetra, vel lacinia nisi ultricies.</p>
        <p>Integer suscipit consectetur commodo. Vestibulum sagittis, odio nec suscipit volutpat, eros justo sollicitudin nunc, vel finibus risus turpis sed justo. Duis id eros ut metus faucibus rhoncus. Curabitur sit amet metus at magna mattis pellentesque. Integer vel sapien ac felis auctor malesuada. Curabitur ac lectus justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
