<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">UserHome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" routerLink="/user">
        UserHome</a>

      <a class="nav-item nav-link" routerLink="/about">About</a>
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/twoway">TwoWay</a>
      <a class="nav-item nav-link" routerLink="/table">MyTable</a>
      <a class="nav-item nav-link" routerLink="/sampledata">Sample</a>
      <a class="nav-item nav-link" routerLink="/myusers">MyUsers</a>
      <a class="nav-item nav-link" routerLink="/template">Template Form</a>
      <a class="nav-item nav-link" routerLink="/relativeform">Relative Form</a>
      <a class="nav-item nav-link" routerLink="/LazyLoading">LazyLoading</a>
      <a class="nav-item nav-link" routerLink="/LazyLoading/emp2">LazyLoading</a>
      <a class="nav-item nav-link" routerLink="/createemp">Create Emp</a>
      <a class="nav-item nav-link" routerLink="/admin">Admin</a>
      <a class="nav-item nav-link" routerLink="/hostuser">Host-User</a>
      <a class="nav-item nav-link" routerLink="/parent">Parent</a>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>