<br>
<br><div class="container">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userdata">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ user.dob }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  